.slider {
    background-color: #f5f5f5;
    border: 1px solid #dbdbdb;
    padding: 0 20px 20px;
    color: #585858;
    }
    .slider label { 
        display: block;
        margin-left: 27px;
        margin-bottom: 4px;
    }
    .slider input[type="text"] {
        padding: 10px 6px;
        max-width: 26px;
        border: 1px solid #dbdbdb;
        border-radius: 4px;
    }
    .slider_row {
        overflow: hidden;
        padding: 20px 0;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #dbdbdb;
        }

        .slider_row__first { border-top: 0; }
        .slider_row__last { border-bottom: 0; }
        .slider_row p { margin: 0; }
        .slider_row th { font-weight: normal; }
        .slider_row td {
            white-space: nowrap;
            padding: 4px 9px;
        }

.button {
    display: block;
    margin: auto;
    width: 103px;
    border: 1px solid #000;
    border-radius: 6px;
    padding: 10px 29px;
    background-color: #579422;
    background-image: linear-gradient(#6fa43c, #428114);
    color: #fff;
    box-shadow: 0 1px #d0d0d0;
    }
    .button:hover {
        background-image: linear-gradient(#7BB643, #4C9617); 
    }

.styledRadio { 
    float: left;
    clear: both;
}